body {
    background-color: #f1f1f1;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.container { 
    margin: 50px auto 40px auto; 
    width: 600px; 
    text-align: center; 
}

a { 
    color: #4183c4; 
    text-decoration: none; 
}

a:hover { 
    text-decoration: underline; 
}

h1 { 
    width: 800px; 
    position:relative; 
    left: -100px; 
    letter-spacing: -1px; 
    line-height: 60px; 
    font-size: 60px; 
    font-weight: 100; 
    margin: 0px 0 50px 0; 
    text-shadow: 0 1px 0 #fff; 
}

p { 
    color: rgba(0, 0, 0, 0.5); 
    margin: 20px 0; 
    line-height: 1.6; }

ul { 
    list-style: none; 
    margin: 25px 0; 
    padding: 0; }

li { 
    display: table-cell; 
    font-weight: bold; 
    width: 1%; 
}

.logo { 
    display: inline-block; 
    margin-top: 35px; 
}

.logo-img-2x { 
    display: none; 
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .logo-img-1x { 
        display: none; 
    }
    .logo-img-2x { 
        display: inline-block; 
    }
}

#suggestions {
    margin-top: 35px;
    color: #ccc;
}
#suggestions a {
    color: #666666;
    font-weight: 200;
    font-size: 14px;
    margin: 0 10px;
}

.scream{
    opacity: 1;
    transition: 2s ease 0s;
    -webkit-transition: 2s ease 0s;
    -moz-transition: 2s ease 0s;
    -ms-transition: 2s ease 0s;
    -o-transition: 2s ease 0s;
    position: absolute;
}

.scream1{
    animation: showSlidan1 2s ease 0s 1 forwards;
    -webkit-animation: showSlidan1 2s ease 0s 1 forwards;
}

.scream2{
    right: 0;
    animation: showSlidan2 2s ease 0s 1 forwards;
    -webkit-animation: showSlidan2 2s ease 0s 1 forwards;
}

.scream3{
    animation: showSlidan3 2s ease 0s 1 forwards;
    -webkit-animation: showSlidan3 2s ease 0s 1 forwards;
    transform: rotate(.5turn) translate(-50%, 0);
    -webkit-transform: rotate(.5turn) translate(-50%, 0);
    -moz-transform: rotate(.5turn) translate(-50%, 0);
    -ms-transform: rotate(.5turn) translate(-50%, 0);
    -o-transform: rotate(.5turn) translate(-50%, 0);
}

@keyframes showSlidan1 {
    0%{
        bottom: -100%;
    }
    100%{
        bottom: -10%;
        transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        -o-transform: rotate(20deg);
    }
}

@keyframes showSlidan2 {
    0%{
        bottom: -100%;
    }
    100%{
        bottom: -20%;
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
}
}

@keyframes showSlidan3 {
    0%{
        bottom: 100%;
    }
    100%{
        bottom: 72.25%;
    }
}

pre{
    transition: 2s ease 0s;
    -webkit-transition: 2s ease 0s;
    -moz-transition: 2s ease 0s;
    -ms-transition: 2s ease 0s;
    -o-transition: 2s ease 0s;
    position: absolute;
    top: 0;
    left: 8px;
    visibility: hidden;
}